// Navigation Styles here

header{

    .navbar{
  .flex(space-around, flex-start, row);
  @media @max{
    .flex(space-around, center, column)
  }
  
    nav{
     width: 200px;
     height: 30px;
    .flex(space-between, center, row);
    a{
      text-decoration: none;
      color: black
    }
    }//nav
    }//navbar
  }//header

button{
    .btn(@eastern-blue, white);
}